#header {
    width: 100%;
    position: fixed; 
}

.topnav {
    height: 50px;
    background: #9bb6e5;
    background: -webkit-linear-gradient(#9bb6e5, #d4daec); 
    background: -o-linear-gradient(#9bb6e5, #d4daec); 
    background: -moz-linear-gradient(#9bb6e5, #d4daec); 
    background: linear-gradient(#9bb6e5, #d4daec); 
}

#logo {
    width: 80px;
    height: 50px;
    margin: -10px;
}

#mytopnav {
    text-align: center; 
    margin: -40px;
    font-size: 40px;
}

#kakao {
    grid-area: a;
}

#kon {
    grid-area: b;
}

#utzzz {
    grid-area: c;
}

#peanut {
    grid-area: d;
}

#hindbær {
    grid-area: e;
}

#karamel {
    grid-area: f;
}

#banner1 {
    grid-area: g;
}

#banner2 {
    grid-area: h;
}

#banner3 {
    grid-area: i;
}

#agewrap {
    display: grid;
        grid-gap: 0 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". . . . . ."
        "d b b b b b"
        "d c c c c f"
        "d c c c c f"
        "d e e e e f"
        ". e e e e ."